<% provide(:title, "new post")%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>レビューを投稿</h3>
  
    <%= form_with(model: @micropost, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :title,"店名" %>
        <%= f.text_field :title, value: @title ,placeholder: "必須",class: 'form-control'%>
        
        <%= f.label :address,"住所" %>
        <%= f.text_field :address, value: @address, placeholder: "任意",class: 'form-control'%>
        
        <%= f.label :point, "満足度 (必須)"%>
        <div class="radio">
          <label class="radio-inline">
          <%= f.radio_button :point, "1"%><span>1</span>
          </label>
          <label class="radio-inline">
          <%= f.radio_button :point, "2"%><span>2</span>
          </label>
          <label class="radio-inline">
          <%= f.radio_button :point, "3"%><span>3</span>
          </label>
          <label class="radio-inline">
          <%= f.radio_button :point, "4"%><span>4</span>
          </label>
          <label class="radio-inline">
          <%= f.radio_button :point, "5"%><span>5</span>
          </label>
        </div>

        
        <%= f.label :content,"コメント" %>
        <%= f.text_field :content,placeholder: "任意", class: 'form-control' %>
        
        
      </div>
      
      <div>
        <span class="image">
          <%= f.label :image, "写真を追加 (任意)"%>
          <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
          <%= f.submit "投 稿", class: "home btn--orange btn--radius" %>
        </span>
      </div>
      
      <%= link_to "戻る" , restaurants_home_path , class: 'back_button btn btn-default'%>



  </div>
</div>


<% end %>


